
*{    
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
nav{
    padding: 0.2vh 1vh ;
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 10vh;
}
ul{
    display: flex;
    font-size: 3.2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    list-style: none;
    gap: 2.5em;
}

nav button{
    margin-top: 0.3em;
    background-color:  #0a2a4f;
    color: #fff;
    font-size: 1.5em;
    width: 6em;
    height: 2em;
    border: 1px solid ;
}
hr{
   border: 1px solid black;
    margin:0% 2%;
}
main div{
    display: flex;
    margin: 3% 5%  3%  4%;
    gap: 10%;
    
}
#p1{
    font-size:4em ;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
#p2{
    font-size:1.5em ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
main section{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
main div {
    display: flex;
    align-items: end;
}
.A{
    font-family: 'Times New Roman', Times, serif;

}
main div img{
    height: 3em;
}

section div p{
    display: flex;
}
section img{
    height: 20em;

}